.messagebox{
  height: 100%;
  .card{
    height: 100%;
    :global(.ant-card-body){
      height: calc(100% - 58px);
      display: flex;
      padding: 12px;
      .left{
        flex: 1;
        height: 100%;
        .commentlist{
          height: calc(100% - 47px);
          overflow: auto;
          &::-webkit-scrollbar{
            display: none;
          }
        };
        :global(.ant-pagination){
          height: 32px;
        }
      }
      :global(.ant-comment){
        width: 300px;
      }
    }
  }
}