.messagebox{
  height: 100%;
  padding: 20px 10px 0;
  .card{
    height: 100%;
    :global(.ant-card-body){
      height: calc(100% - 58px);
      padding: 12px;
      .commentlist{
        height: calc(100% - 47px);
        overflow: auto;
        &::-webkit-scrollbar{
          display: none;
        }
      };
      :global(.ant-pagination){
        height: 32px;
      }
    }
  }
}