.siteLayoutBackground{
  padding: 0 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  .logo{
    height: 100%;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    a{
      display: flex;
      height: 70%;
      margin-right: 10px;
      img{
        height: 100%;
      }
    }
    :global(.ant-menu){
      background: none;
      color: #fff;
      :global(.ant-menu-item-selected){
        color: #1890ff;
      }
    }
    .DropdownRouter{
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .Dropdown{
    cursor: pointer;
    .avatar{
      background-color: #fff;
    }
    .user{
      margin: 0 10px;
      color: #fff;
    }
  }
}