.layout{
  position: relative;
  :global(.ant-layout-header){
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  .container{
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    :global(.ant-layout-content){
      min-height: 100%;
      padding: 10px;
    }
  }
}