.layout{
  position: relative;
  :global(.ant-layout-header){
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  .container{
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    :global(.ant-layout-content){
      min-height: calc(100% - 50px);
      padding: 20px 10px 0;
    }
    :global(.ant-layout-footer){
      text-align: center;
      padding: 14px 0;
    }
  }
}