.PageHeader{
  background: #fff;
  .col{
    .uploadAvatar{
      display: flex;
      flex-direction: column;
      img{
        width:120px;
        margin: 20px 0 20px 0;
      }
    }
    .tag{
      margin-top: 20px;
    }
  }
}
@media (max-width:768px){
  .PageHeader{
    :global(.ant-row){
      flex-direction: column-reverse;
      .col{
        padding: 20px 0;
        .uploadAvatar{
          .headerAvatar{
            display: none;
          }
        }
      }
    }
  }
}