
.loginFormCol{  
  width: 100%; 
  .loginForm{  
      width:300px;  
      margin:0 auto; 
      h3{
        color: #fff;
      }
      .loginBtn{  
          width:100%  
      }  
  }  
  .title{
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
}