
.loginFormCol{  
  height:100vh;  
  width: 100%;
  display:flex;  
  justify-content:center;  
  flex-direction:column;  
  .loginForm{  
      width:300px;  
      margin:0 auto;  
      .loginBtn{  
          width:100%  
      }  
  }  
  .title{
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
}