.logbox{
  // background: url(~@/assets/img/bg3.webp) no-repeat 50%;
  // background-size: cover;
  height: 100%;
  .box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: rgba(0,0,0,0.3);
    .header{
      height: 45px;
      color: #fff;
      font-size: 15px;
      line-height: 45px;
      text-indent: 10px;
      font-size: 18px;
    }
    .footer{
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #ccc;
      font-size: 12px;
    }
  }
}