
.registerFormCol{  
  width: 100%;  
  .registerForm{  
      width:300px;  
      margin:0 auto;  
      h3{
        color: #fff;
      }
      .registerBtn{  
          width:100%  
      }  
  }  
  .title{
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
}